*{
    box-sizing: border-box;
}
.heading{
    background-color: pink; 
    padding: 20px;
    text-align: center;
}
.naviga{
    overflow: hidden;
    background-color: #8FD9C4;
}
.naviga a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.naviga a:hover{
    background-color: dimgray;
    color: black;
}
.column{
    float: left;
    padding: 10px;
}
.column.side{
    width: 25%;
}
.column.middle{
    width: 50%;
}
.column.middle h2{
    color: darkslategray;
    text-align: center;
    letter-spacing: 2px;
    font-family: monospace;
    font-size: 31px;
}
.column.middle p{
    color: dimgray;
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;
}
.column.side h3,p{
    text-align: center;
    font-family: serif;
    letter-spacing: 1px;
}
.special_offer{
    text-shadow: 1px 1px black;
    color: pink;
}
